* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
}

.header{
    background-color: #222;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_button{
    display: flex;
    align-items: center;
    gap: 18px;
}

.search_button{
    background-color: #222;
}

.menu_button{
    background-color: #222;
    display: flex;
    align-items: center;
    gap: 18px;
}

.top{
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top_image{
    max-width: 700px;
}

.brand_image{
    max-width: 350px;
}

.offer{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 96px;

}

.image_big{
    display: grid;
    justify-content: center;
    grid-column: span 3;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 48px;
}

.title{
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_text{
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;

}

.item_title{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text{
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.price{
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button{
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: 1024px){

    .header{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        display: flex;
        justify-content: center;
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top_image{
        max-width: 386px;
    }

    .brand_image{
        max-width: 230px;
    }

    .offer{
        display: grid;
        grid-template-columns: repeat(3, 232px);
        gap: 19px;
        justify-content: center;
        padding-top: 65px;
        padding-bottom: 96px;
    }

    .image{
        width: 232px;
    }

    .image_big{
        width: 734px;
    }

    .items{
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 19px;
    }

    .item_image{
        max-width: 360px;
    }

}